@page "/search"
@using RoutePlanning.Domain.Locations.Services
@using RoutePlanning.Domain.Locations
@inject SearchService SearchService
@inject IQueryable<Location> Locations

<link href="css/SearchResult.css" rel="stylesheet" />
<link href="css/inputs.css" rel="stylesheet" />

<div class="card-container">

    <div class="form">
    <!-- Origin Dropdown -->
    <div class="form-group">
        <label for="originDropdown">Origin<span style="color: red;">*</span></label>
        <select id="originDropdown" @bind="Origin">
            @foreach(Location location in Locations.ToList()) {
                <option value=@location.Name>@location.Name</option>
            }
        </select>
    </div>

    <!-- Destination Dropdown -->
    <div class="form-group">
        <label for="destinationDropdown">Destination<span style="color: red;">*</span></label>
        <select id="destinationDropdown" @bind="Destination">
            @foreach(Location location in Locations.ToList()) {
                            <option value=@location.Name>@location.Name</option>
                        }
        </select>
    </div>

    <!-- Departure Time -->
    <div class="form-group">
        <label for="departureTime">Departure time</label><span style="color: red;">*</span> <br/>
        <input type="datetime-local" id="departureTime" @bind="DepartureTime"/>
    </div>

    <!-- Arrival Deadline -->
    <div class="form-group">
        <label for="arrivalDeadline">Arrival deadline</label> <br/>
        <input type="datetime-local" id="arrivalDeadline" @bind="ArrivalDeadline"/>
    </div>

    <!-- Weight Input -->
    <div class="form-group">
        <label for="weight">Weight<span style="color: red;">*</span></label>
        <input type="text" id="weight" @bind="Weight"/>
    </div>
    <div class="form-row">
        <div class="form-group ">
            <label for="height">Height<span style="color: red;">*</span></label>
            <input type="text" id="height" @bind="Height" placeholder="Height" class="form-control"/>
        </div>
        <div class="form-group ">
            <label for="length">Length<span style="color: red;">*</span></label>
            <input type="text" id="length" @bind="Length" placeholder="Length" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="depth">Depth<span style="color: red;">*</span></label>
            <input type="text" id="depth" @bind="Depth" placeholder="Depth" class="form-control"/>
        </div>
    </div>
    
    

    <div class="form-group">
        <label>Categories<span style="color: red;">*</span></label>
        @foreach (var category in Categories)
        {
            <div class="form-check">
                <input type="checkbox" class="form-check-input" value="@category" @onchange="e => HandleCategoryChange(e, category)" checked="@SelectedCategories.Contains(category)" />
                <label class="form-check-label">@category</label>
            </div>
        }
    </div>


    <!-- Recommended Checkbox -->
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="recommendedCheckbox" @bind="IsRecommended"/>
        <label class="form-check-label" for="recommendedCheckbox">Recommended goods</label>
    </div>
    
    <p><span style="color: red;">*</span> Indicates a mandatory field</p>
    <!-- Submit Button -->
    <button class="btn btn-primary" @onclick="SubmitForm">Search</button>
    </div>
</div>
